* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    transition: all 0.5s ease-in-out;
}

body {
    font-size: 1.4rem;
    background-color: white;
}

li {
    list-style: none;
}


@keyframes animation-1u0u36m {
    25% {
        cx: 100px;
        r: 43.2px;
    }

    50% {
        cx: 140px;
        r: 36px;
    }

    75% {
        cx: 100px;
        r: 21.6px;
    }

    100% {
        cx: 60px;
        r: 36px;
    }
}

@keyframes animation-1gjz153 {
    25% {
        cx: 100px;
        r: 24px;
    }

    50% {
        cx: 60px;
        r: 36px;
    }

    75% {
        cx: 100px;
        r: 43.2px;
    }

    100% {
        cx: 140px;
        r: 36px;
    }
}

@keyframes animation-1gjz153 {
    25% {
        cx: 100px;
        r: 24px;
    }

    50% {
        cx: 60px;
        r: 36px;
    }

    75% {
        cx: 100px;
        r: 43.2px;
    }

    100% {
        cx: 140px;
        r: 36px;
    }
}