{% schema %}
{
    "name": "Instagram Feed",
    "target": "section",
    "javascript": "theme-app.js",
    "settings": []
}
{% endschema %}

<div class="ig-component" id="ig-component" style="background-color: white; width: 100%; transition: all 0.3s ease-in-out; padding: 20px; min-height: 550px">
    <div
        style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); grid-gap: 20px; min-height: 550px; width: 100%;"
    >
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>    
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>    
        <div
            style="background-color: #f3f3f3; border-radius: 5px; height: 100%; width: 100%; display: block"
        ></div>    
    </div>
</div>

