{% schema %}
{
    "name": "Vite",
    "target": "section",
    "javascript": "vite-app.js",
    "settings": []
}
{% endschema %}

<div id="app-vite" style="background-color: white; width: 100%; transition: all 0.3s ease-in-out; padding: 20px;"></div>