.feed-preview__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.feed-preview__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.feed-preview__content {
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 10px 0
}

.feed-preview__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    img {
        width: 36px;
        height: 36px;
        border-radius: 9999px;
    }

    p {
        color: gray;
        font-size: 12px;
    }

    strong {
        display: flex;
        align-items: center;
        gap: 3px;

        img {
            width: 14px;
            height: 14px;
        }
    }
}

.feed-preview__caption {
    margin: 10px 0;
}

.feed-preview__permalink {
    color: #005bd3;
    font-weight: 600;
    cursor: pointer;
    word-break: break-all;

    &:hover {
        text-decoration: underline;
    }
}

.feed-preview__actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    user-select: none;


    p {
        color: gray;
        font-size: 14px;
        cursor: pointer;

        &:active {
            opacity: 0.5;
            scale: 1.11;
        }
    }
}


@media (max-width: 768px) {
    .feed-preview__container {
        flex-direction: column-reverse;
    }

    .feed-preview__content {
        padding: 0 10px;
    }
}