.Avada-Frame__Content {
  .PreLoading-Spinner {
    left: 6.8rem;
    position: absolute;
    z-index: 1;

    + * {
      .Avada-Footer_Container {
        display: none;
      }
    }
  }

  &.Avada-Frame__Content--isExpanded {
    .PreLoading-Spinner {
      left: 24rem;
    }
  }
}
