@import '~@shopify/polaris/build/esm/styles.css';
@import 'colors';
@import 'polaris/icons';
@import "components/app_news";
@import "components/toggle";
@import "hooks/view_media";

body:has(.Avada__FullLayout) {
  overflow: unset !important;
}

.Polaris-Frame__Content {
  background-color: #fff;
}

body[data-lock-scrolling] {
  overflow: auto hidden;
}

div#app,
html.p-theme-light {
  scrollbar-width: none;
  overflow-x: hidden;
}

.Avada-Frame {
  display: flex;
  height: calc(100vh - 5.6rem);
}

.Polaris-Header-Title__TitleWithMetadataWrapper {
  display: flex;
  align-items: center;

  .Polaris-Header-Title__TitleMetadata {
    margin-top: 0;
  }
}

.Polaris-Modal-Dialog__Container {
  .Polaris-Modal-Header {
    align-items: center;

    .Polaris-Modal-CloseButton {
      margin-left: 1rem;
    }
  }
}

.Polaris-Page {
  width: 100%;
}

#AppFrameTopBar {
  .Polaris-TopBar {
    background-color: #fff !important;

    .Polaris-TopBar-Menu__Activator--userMenu {
      background-color: #fff !important;
    }

    .Polaris-Text--root {
      color: #202223 !important;
    }
  }
}

// desktop-position
.desktop-position {
  border: 3px solid #dfe3e8;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  height: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: var(--a-ig-primary-color);
  }

  &:active {
    opacity: 0.5;
  }

  div {
    width: 50%;
    height: 50%;
    border-radius: 3px;
    background: var(--p-color-gray);
  }
}