* {
  --a-ig-primary-color: #01007F;
  --a-ig-hover-color: #2626a8;
  --a-ig-disabled-color: #afaeae;
  --p-action-primary: var(--a-ig-primary-color);
  --p-color-bg-fill-brand: var(--a-ig-primary-color);
  --p-action-primary-hovered: var(--a-ig-hover-color);
  --p-color-bg-fill-brand-hover: var(--a-ig-hover-color);
  --p-text-primary: var(--a-ig-primary-color);
  --p-text-primary-hovered: var(--a-ig-hover-color);
  --p-action-primary-pressed: var(--a-ig-primary-color);
  --p-action-primary-depressed: var(--a-ig-primary-color);
  --p-interactive: var(--a-ig-primary-color);
  --p-color-bg-fill-brand-active:var(--a-ig-primary-color);
  --p-color-bg-fill-brand-selected:var(--a-ig-primary-color)
}
