.Avada-Sheet__AppNews {
  .prose {
    word-break: break-word;

    img, video, iframe {
      max-width: 100%;
      height: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      display: block;
      vertical-align: middle;
    }

    p {
      margin-top: 1em;
      margin-bottom: 1em;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }

    h2 {
      font-size: 1.5em;
      margin-top: 1em;
      margin-bottom: 1em;
      line-height: 1.3333333;
      color: #171717;
      font-weight: 700;
      //letter-spacing: -.025em;
    }

    a, a code, a:hover {
      color: #264a99;
    }

    ol, ul {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    h2+*, h3+*, h4+*, hr+* {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
